<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
    <script src="{{ url_for('static',filename='jslibs/jquery.js')}}"></script>
    <script src="{{ url_for('static',filename='jslibs/ajax.js')}}"></script>
    <script src="{{ url_for('static',filename='jslibs/socket.io.js')}}"></script>
    <script src="{{ url_for('static',filename='javascript/sendData.js')}}"></script>
    {% block head %}{% endblock %}
<body>
    {% block body %}{% endblock %}
</body>
</html>