{% extends 'base.html' %}

{% block head %}
<title>video stream</title>
<script>
var json ={
  hmin:0,
  hmax:180,
  smin:0,
  smax:255,
  vmin:0,
  vmax:255,
  erode: false,
  dilate: false
}
route = "/proccesHSV"
</script>
{% endblock %}


{% block form %}
<div class="form-group">
  <label id="top-label" for="exampleInputEmail1">Hue</label>
  <div id="h" class="my-slider">180</div>
  <small id="Hue-range" class="form-text text-muted">range: </small>
</div>
<div class="form-group">
  <label for="exampleInputEmail1">Saturation</label>
  <div id="s" class="my-slider">255</div>
  <small id="Hue-range" class="form-text text-muted">range: </small>
</div>
<div class="form-group">
  <label for="exampleInputEmail1">Value</label>
  <div id="v" class="my-slider">255</div>
  <small id="Hue-range" class="form-text text-muted">range: </small>
</div>
<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input my-checkbox" id="dilate">
  <label class="custom-control-label" for="dilate">Dilation</label>
</div>
<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input my-checkbox" id="erode">
  <label class="custom-control-label" for="erode">erode</label>
</div>
{% endblock %}